#form {font-family:"Trebuchet MS", Verdana, sans-serif; width: 800px; height: 700px}
	/*
	h2 {margin:0 0 0 0;padding:0}
	p {margin:0 0 1em 0;padding:0;font-size:90%}*/

	fieldset {
		background:#C361D2;
		border:none;
		margin-bottom:1em;
		width:24em;
		padding-top:1.5em}

	p.legend {background:#808080;color:white;padding:.2em .3em;font-size:1.2em;border:2px outset #808080;position:relative;margin-bottom:-1em;width:10em;margin-left:1em;margin-top:1em}

	#personal {background:#E8E8E8;border:outset #E8E8E8}

	#choices {background:#E8E8E8;border:outset #E8E8E8; width: 373px}
	#suggestions {background:#E8E8E8;border:outset #E8E8E8}

	#personal label {position:absolute;font-size:90%;padding-top:.2em;left:100px}
	#personal input {margin-left:9em;line-height:1.4em;margin-bottom:.2em;}

	#choices label {position:absolute;padding-top:.2em;left:100px}
	select {margin-left:15em;margin-bottom:0}


	#format {font-size:90%}
	#format input {margin-left:15em}
	#format input + input {margin-left:1em}
	#format br + input {margin-left:15em}

	#favtool {font-size:90%}
	#favtool input {margin-left:15em}
	#favtool input + input {margin-left:1em}
	#favtool br + input {margin-left:15em}

	textarea {font:.8em "Trebuchet MS", Verdana, sans-serif;width:29em;padding:.2em}

	input[type="submit"], input[type="reset"] {background:#E8E8E8;font:1.2em "Trebuchet MS", Verdana, sans-serif}

	#buttons {text-align:center}
